*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    text-align: center;
    font-family:sans-serif, "Times New Roman" ;

}
a:visited { 
    text-decoration: none; 
    color: rgb(47, 47, 46); 
   }


h1{
    color: rgba(0, 0, 0, 0.965);
    background-color: rgb(255, 255, 255);
    margin: 25px;

}

blockquote{
    padding: 20px;
    font-size: small;
    width: 1000px;
    margin: auto;
}

.home{
    color: white;
    background-color: rgb(203, 215, 223);
    display:inline-block;
    

    margin:25px;
    padding:50px;
    border: 7px dotted whitesmoke;

    height: 600px;
    width: 600px;
  }

  img{

    margin-top:50px;
    margin-bottom:50px;
    height: 400px;
    width:400px;
    border-radius: 0.4em;
    
  }
  
.ulhome{
    color: rgb(200, 210, 214);
    margin: 0px;
    
  }

li{
    padding: 3px;
}

.ulhome li:hover{
    padding: 5px;
    border-style: none;
    border-radius: 0.4em;
    transition: all .3 linear;
    background-color: rgba(204, 231, 240, 0.737);
   

    width:200px;
    margin:auto;
    
}


.recipe{
    color: #1a2735;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 5px;
    background-color: aliceblue;
    width: 700px;
    border-radius: 10px;
    border-style:none;
}

.description{
    padding: 10px;
    color: rgb(88, 127, 168);
    background-color: aliceblue;
    width: 700px;
    margin: auto;
    border-radius: 50em;
}

p{
    padding: 25px;  
    color: rgba(72, 77, 120, 0.748);
    width: 700px;
    text-align: center;
    margin: auto;
}
   


.ingredients{
    padding: 10px;
    color: rgb(59, 56, 56);
    background-color: antiquewhite;
    width: 700px;
    margin: auto;
    border-radius: 10px 50px;
    
}

.steps{
    padding: 10px;
    color: rgb(59, 56, 56);
    background-color: aliceblue;
    width: 700px;
    margin: auto;
    border-radius: 50em;

    
}

ul, ol{
    color: rgb(112, 108, 108);
}

@media all and (max-width: 500px) {
    body {
        color: blueviolet;
    }


}